@import "../scss/lib/theme/vars";
.newHeader {

    div {
        height: 50px;
        width: 60px;
        background-color: red;
        border-radius: 5px;
        margin-left: 46%;
        margin-top: 20%;
    }
}