@import "../scss/lib/theme/vars";
.redBox {
    div {
        height: 50px;
        width: 60px;
        background-color: red;
        border-radius: 5px;
        margin-left: calc(50% - 30px);
        margin-top: calc(50% - 20px);
    }
}
